@import "./styles/shared.scss";

.main {
  font-family: $body-font;
  background-color: $color-background;
  color: $color-font;
  padding: 20px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  
  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }

  &__searcher {
    width: 100%;
    min-height: 200px;
  
    @media (min-width: $breakpoint-tablet) {
      margin-left: 20px;
    }
  }
}
